.text {
    z-index: 5;
    color: #000;
    font-size: 400%;
    padding: 20px;
}

.header{
    margin-top: 100px;
    z-index: 5;
    color: #000;
    font-size: 300%;
    padding: 20px;
}

.info {
    z-index: 5;
    color: #000;
    font-size: 110%;
    padding: 20px;
}